@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: "Lato";
	font-size: 18px;

}

.header-bunner {
	background: url(../img/roof.jpg);
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	padding-top: 35px;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.main-menu {
	float: right;
}

.main-menu li a {
	color: #fff;
	font-size: 14px;
	line-height: 100px;
	text-transform: uppercase;
}

.main-menu li a:hover {
	color: #009FE8;
	background: none;
}

.button-mob-menu {
	z-index: 10;
	width: 45px;
	height: 35px;
	background: rgba(255,255,255,0.5);
}

.button-mob-menu:hover {
	background: rgba(0,0,0,0.5);
}

.icon-bar {
	border-radius: 5px;
	background-color: #000;
}

/*mobile - menu----------------------------------------------------*/


.mobile-menu {
	position: absolute;
	z-index: 5;
	top: -43px;
	right: 0px;
	float: right;
	width: 230px;
	background: #111111;
}

.mobile-menu li a {
	display: inline-block;
	font-size: 14px;
	color: #fff;
}

.mobile-menu li a:hover {
	background: none;
	color: #009FE8;
	border-top: 2px solid #009FE8;
	transition: .2s;
}

.mobile-menu li a span {
	margin-left: 20px;
}

.drop-mob-menu {
	transition: 0.4s;
	transform: scaleY(0) translateX(100%);
}

.menu_active {
	transform: scaleY(1) translateY(0%);
}

/*End mobile menu------------------------------------------------------------------*/

/*drop-down-menu------------------------------------------------------------------*/

.main-menu li ul {
	position: absolute;
	display: none;
	right: 15px;
	top: 100px;
	background: #fff;
	width: 160px;
}

.main-menu li ul a {
	color: #009FE8;
	font-size: 11px;
	text-align: right;
	line-height: 20px;
	border-bottom: 1px solid #ccc;

}

.main-menu li:hover ul {
	display: block;
}


.main-menu li ul a:hover {
	color: #777;
}

/*End drop-down-menu------------------------------------------------------------------*/



.improvements {
	padding-top: 100px;
	padding-bottom: 60px;
}

.improvements h1 {
	font-size: 48px;
	font-weight: 900;
	line-height: 1.1;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;

}

.improvements .btn {
	display: inline-block;
	width: 220px;
	color: #33b2ed;
	padding: 15px 20px;
	font-size: 14px;
	border-radius: 99px;
	text-transform: uppercase;
	background: #fff;
	border: none;
}

.improvements .btn:hover {
	color: #fff;
	background: #33b2ed;
}

.content-blocks {
	margin-bottom: 20px;
}


.content .con-text h3 {
	margin-top: 120px;
	margin-bottom: 25px;
	color: #000;
	font-size: 35px;
	font-weight: 900;
}

.content .con-text p {
	font-size: 18px;
	margin-bottom: 80px;
}

.icons-list {
	margin-bottom: 80px;
}

.icons-list img{
	float: left;
	margin-top: -6px;
	margin-right: 20px;
}

.icons-list h3 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 500;
}

.icons-list p {
	font-size: 14px;
}

.submit-form {
	padding: 35px;
	border: 1px solid #ccc;
}

.request-form p {
	font-size: 24px;
	color: #000;
	font-weight: bold;
}


.form-group {
	color: #999999;
}

.form-group span {
	color: #E80F00;
}

.form-checkbox input {
	opacity: 0;
}

.form-checkbox {
	padding-left: 35px;
	font-weight: normal;
}

.checkmark {
	position: absolute;
	margin-left: 15px;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	border: 1px solid #ccc;
	background: #eee;
	left: 0;
	top: 0;
}

.checkmark:hover {
	background: #ccc;
	cursor: pointer;
}

.form-checkbox .back-checkmark:after {
	top: 5px;
	left: 9px;
	width: 5px;
	height: 10px;
	border: 1px solid #fff;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}

.back-checkmark:after {
	content: '';
	position: absolute;
	display: block;
}

.solut-bott {
	margin-bottom: 0;
}

.needs-text {
	font-weight: normal;
}

.form-control {
	font-size: 18px;
	color: #999999;
}

.form-btn {
	text-align: center;
}

.btn-form-custom {
	display: inline-block;
	color: #fff;
	background: #009FE8;
	width: 150px;
	padding: 10px 0;
	text-transform: uppercase;
	border-radius: 99px;
}

.btn-form-custom:hover {
	color: #fff;
}


/*section-services------------------------------------------------------------------*/

.slider-wrapper {
	border-top: 1px solid #ccc;
	margin-bottom: 50px;
}

.slider-wrapper ul {
	list-style: none;
	text-align: center;
}

.services-slider li {
	display: inline-block;
	padding: 40px 45px;
	float: left;
}

.services-slider li a {
	color: #999;
	text-decoration: none;
}
/*slider -------------------------------------------------------------------*/

.slider-blocks {
	background: url(../img/background-sl.jpg) no-repeat center;
	background-size: 100%;
	margin-bottom: 40px;
}

.fix-padding {
	padding: 0;
}

.carousel-inner img {
	width: 40%;
	float: left;
}


.slider-description {
	float: left;
	background: #fff;
}

.slider-description h2 {
	margin: 100px 0 20px 40px;
	font-size: 50px;
	color: #009FE8;
}

.slider-description p {
	margin-left: 40px;
	font-size: 18px;
	line-height: 1.8;
}

.slider-description a button {
	display: inline-block;
	margin: 0  0 73px 40px;
	border: 2px solid #ccc;
	border-radius: 50px;
	font-size: 14px;
	text-transform: uppercase;
	color: #333;
	width: 250px;
	height: 50px;
}

.slider-description a button:hover {
	background: none;
	border: 2px solid #009FE8;
	color: #009FE8;
}

.carousel-indicators li {
	font-size: 10px;
	background: #ccc;
}

.carousel-control {
	opacity: 0.8;
}


.glyphicon.glyphicon-chevron-right {
	font-size: 50px;
	color: #ccc;
}

.glyphicon.glyphicon-chevron-right:hover {
	color: #fff;
	opacity: 1;
}

.glyphicon.glyphicon-chevron-left {
	font-size: 50px;
	color: #ccc;
	opacity: 1;
}

.glyphicon.glyphicon-chevron-left:hover {
	color: #fff;
	opacity: 1;
}

.carousel-indicators li{
	background: #ccc;
	border: 1px solid #ccc;
}

.carousel-indicators li.active {
	background: #009FE8;
	border: 1px solid #009FE8;
}

/*second slider -----------------------------------------------------------*/

.slide-second h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	color: #000;
	margin: 90px 0 30px 0;
}

.slide-sescription-second {
	margin: 0 240px 0 240px;
}

.slide-sescription-second span {
	font-size: 28px;
	font-style: italic;
	font-family: 'Marriweather', serif;
	color: #333;
	line-height: 1.4;
}

.slide-sescription-second p {
	text-align: right;
	font-size: 30px;
	font-family: 'Marriweather', serif;
	color: #3376f9;
	margin-bottom: 80px;
}

/*footer---------------------------------------------------------------------*/

.border-line-top {
	border-top: 1px solid #ccc;
	margin-bottom: 100px;
}

.fotter-logo {
	text-align: center;
	margin-top: 30px;
	line-height: 35px;
}

.img-footer-logo {
	margin-bottom: 10px;
}

.under-logo span {
	font-size: 14px;
	color: #999;
}

.under-logo a {
	font-size: 14px;
	text-decoration: none;
}

.under-logo a:hover {
	color: #999;
}

.about-company {
	margin-top: 30px;
}

.footer-ul li {
	float: left;
	width: 50%;
	color: #009fe8;
}

.footer-ul li a {
	color: #999;
	text-transform: uppercase;
	font-size: 14px;
}

.footer-icons {
	margin-top: 30px;
	padding-left: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 200px;
	
}

.footer-icons span {
	margin-left: 25px;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.footer-icons a {
	display: inline-block;
	margin-top: 15px;
	text-align: center;
	width: 40px;
	height: 40px;
	font-size: 20px;
	margin-right: 5px;
	background: #A9ADB0;
	border-radius: 50%;
	color: #fff;
	transition: all .3s ease-in-out;
}

.footer-icons a:hover {
	transform: rotate(360deg);
}

.footer-icons i {
	margin-top: 9px;
}

.footer-letter {
	margin-top: 30px;
}

.footer-letter span {
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.footer-letter p {
	color: #999;
	font-size: 14px;
	margin-top: 10px;
}

.letter-email {
	display: block;
}

.letter-email input {
	position: relative;
	width: 100%;
	border: 1px solid #eee;
	padding: 10px 15px;
	margin-top: 10px;
}

.letter-email button {
	position: absolute;
	display: inline-block;
	right: 4px;
	top: 15px;
	border: none;
	background: none;

}

.letter-email button i {
	font-size: 35px;
	color: #009FE8;
}

/*@media -----------------------------------------------------------------------*/

@media (max-width: 767px) {

	.main-menu li a {
		display: none;
	}
	

	.icons-list img {
		float: none;
		display: block;
		margin: auto;
	}

	.icons-list h3,p {
		text-align: center;
	}

	.icons-list {
		margin-bottom: 30px;
	}

	.icons-list:last-child {
		margin-bottom: 80px;
	}

	.submit-form {
		border-radius: 10px;
		box-shadow: 0 0 2px rgba(0,0,0,0.3);
		margin-left: 10px;
		margin-top: 100px;
	}

	.solut-bott {
		margin-bottom: 10px;
		display: block;
	}
	

	.services-slider {
		display: none;
	}

	/*sliders ---------------------------------------*/

	.slider-description {
		background: none;
	}

	.slider-description h2 {
		margin: 25px 0 15px 0;
		font-size: 24px;
	}

	.slider-description p {
		line-height: 1;
		color: #000;
	}

	.slide-sescription-second {
		margin: 0;
	}

	.slide-sescription-second span {
		font-size: 18px;
	}

	.slide h2 {
		font-size: 25px;
	}

	/*footer ------------------------------------------*/
	.under-logo {
		line-height: 1.6;
	}

	.about-company {
		margin-top: 10px;
	}

	.footer-ul li {
		margin-left: -22px;
		list-style: none;
		width: 100%;
		text-align: center;
	}

	.footer-ul li:last-child {
		margin-bottom: 20px;
	}

	.footer-icons {
		border: none;
		text-align: center;
		height: 170px;
	}

	.footer-icons span {
		margin-left: -13px;
	}

	.social-icons a {
		margin-top: 0;
	}

	.footer-letter {
		text-align: center;
	}
	
}

@media (max-width: 991px) {

	.icons-list img {
		float: none;
		display: block;
		margin: auto;
	}

	.icons-list h3,p {
		text-align: center;
	}

	.icons-list {
		margin-bottom: 30px;
	}

	.icons-list:last-child {
		margin-bottom: 100px;
	}

	.col-sm-6 {
		width: 100%;
	}

	.submit-form {
		border: none;
		box-shadow: none;
	}

	.solution-border-mob {
		padding: 20px 15px;
		border-radius: 10px;
		border: 1px solid #ccc;
		box-shadow: 0 0 2px rgba(0,0,0,0.3);

	}


	.solut-bott {
		margin-bottom: 10px;
		display: block;
	}
	

	.form-checkbox {
		margin-left: 10px;
	}
	

	.services-slider li{
		padding: 45px 0 45px 0;
		margin-right: 10px;
	}

	.services-slider li a {
		font-size: 14px;
	}
	
	/*sliders------------------------------------------------------*/

	.slider-description {
		background: none;
	}

	.slider-description h2 {
		margin: 25px 0 15px 30px;
		font-size: 30px;
	}
	
	.slider-description p {
		line-height: 1.3;
		color: #777;
	}

	.slide-sescription-second {
		margin: 0 40px;
	}

	.slide-sescription-second span {
		font-size: 18px;
	}

	.slide h2 {
		font-size: 25px;
	}

	.item img {
		width: 50%;
	}

	/*footer ------------------------------------------*/
	.under-logo {
		line-height: 1.6;
	}

	.about-company {
		margin-top: 10px;
	}

	.footer-ul li {
		margin-left: -22px;
		list-style: none;
		width: 100%;
		text-align: center;
	}

	.footer-ul li:last-child {
		margin-bottom: 20px;
	}

	.footer-icons {
		border: none;
		text-align: center;
		height: 170px;
	}

	.footer-icons span {
		margin-left: -13px;
	}

	.social-icons a {
		margin-top: 0;
	}

	.footer-letter {
		text-align: center;
	}
}

@media (max-width: 1200px) {

	.submit-form {
		line-height: 1;
	}

	.services-slider li{
		padding: 45px 0 45px 0;
		margin-right: 15px;
	}

	.services-slider li a {
		font-size: 18px;
	}

	.slider-description h2 {
		margin: 10px 0 15px 30px;
	}

	.slide-sescription-second {
		margin: 0 60px;
	}

	/*footer ------------------------------------------*/
	.under-logo {
		line-height: 1.2;
	}

	.footer-ul li a {
		font-size: 10px;
	}

}

@media (max-width: 540px) {
	
	.item img {
		float: none;
		margin: 5% 15% 5% 30%;
	}

	.slider-description {
		width: 100%;
		margin: auto;
		float: none;
		text-align: center;
	}

	.slider-description h2 {
		font-size: 18px;
	}

	.slider-description p {
		font-size: 13px;
		line-height: 1;
	}

	.slider-description a button {
		width: 170px;
		height: 30px;
		padding: 0;
		font-size: 10px;
	}

	.slider-blocks {
		background: url(../img/background-sl.jpg) no-repeat top;
	}


	.slide-sescription-second {
		margin: 0;
	}

}




@media (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
} 